@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Montserrat:ital@1&family=Sono:wght@500;600&family=Ysabeau+SC:wght@700&display=swap');

*{
    background-color: #000000;
}
body, html{
    padding: 0px;
    margin: 0px;
    /* height: 100%; */
    width: 100%;
    
}
#root{
    display: flex;
    flex-direction: column;
    align-items: center;
}

a{
    text-decoration: none !important;
    color: rgb(110, 110, 110) !important;
}
a:hover{
    transition: 0.5s;
    color: #fff !important;
}
.header{
    background-color: #000000;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top : 0px;
    left: 0px;
    z-index: 20;

}
.name{
    /* border: red solid 2px; */
    height: 50%;
    width : fit-content;
    margin-bottom: 2%;
    margin-top: 2%;
    padding-left: 2%;
    padding-right: 2%;

    font-size: 200%;
    margin: 0;
    font-weight: 400;
    color: #fff;
    font-family: 'Ysabeau SC', sans-serif;
    display: flex;
    justify-content: start;
    align-items: center;

}

.name a{
    color: #fff !important;
    margin: 0 !important;
    font-weight: 400 !important;
    font-family: 'Ysabeau SC', sans-serif !important;
}
ul,li{
    list-style: none;
    margin: 0px !important;
    padding: 0px !important;
    text-decoration: none;
}

.nav{
    /* border: red solid 2px; */
    font-family: 'Ysabeau SC', sans-serif;
    
    /* width: 100%;
     */
     width: fit-content;
}
.nav > nav{
    
    width: 100%;
}

.nav > nav > ul{
    /* border: red solid 2px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    column-gap: 50px;
    
    margin : 0px;
    padding: 0px;

    width: 100%;
    height: 100%;
    font-size: 20px;
}


.header-social-links{
    /* border: red solid 2px; */
    /* width: 20%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    column-gap: 15px;
    margin-right: 8%;
}

.menu-social{
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50%;
    
    align-items: center;
    /* gap: 2%; */
    margin-right: 3%;
}

.menu{
    display: none;
}
.menu-items{
    position: absolute;
    right: 0px;
    /* height: 100%; */
    
    min-width: 100%;
    padding: 30px;
    background-color: #000000;
}

.menu-items >nav> ul li{
    padding: 10px !important;
    
}

.project-title{
    /* border: solid red 2px; */
    margin-top: 100px;
    /* height: 30vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: fit-content;
    min-height: fit-content;
}

.title-head{
    color: #27a769;
    font-size: 700%;
    /* padding: 10px; */
    margin: 10px;
    min-width: fit-content;
    min-height: fit-content;
    align-items: center;
}
.title-para{
    color: white;
    font-size: 200%;
    margin: 10px;
    display: flex;
    min-width: fit-content;
    min-height: fit-content;
    align-items: center;
}
.title-button{
    background-color: #27a769;
    color:white;
    border: none;
    font-weight: 700;
    font-size: 14px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 4px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.3s;
    margin-bottom: 50px;
}
.title-button:hover{
    background-color: #27b671;
}
.app{
    /* border : red solid 2px; */
    /* width : 100%; */
    /* min-width: fit-content; */
    min-height: fit-content;
    /* display: flex;
    flex- ; */
    /* border: red solid 2px; */
    width : 100%;
    max-width : 1400px;
}
.container{
    margin:0px;
    margin-top: 30px;
    min-width : 100%;
    max-width: 100%;
    height: 600px;
    max-height: 80vh;
    user-select: none;
    
}

.project-data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    /* margin: 0 auto;  */
    margin-top: 100px;
    margin-bottom: 70px;
    column-gap: 20px;

}
.project-desc{
    width: 75%;
    margin-left: 10px;
    /* border: red solid 2px; */
}

.project-desc  h1{
    font-size: 50px;
    margin-bottom: 50px;
}

.project-info{
    max-width: 25%;
    margin-right: 10px;
    width: fit-content;
    /* border: red solid 2px; */
}
.project-info-data{
    font-size: 17px;
}

.info-list > p:first-child{
    margin: 0px;
    margin-top: 20px;
    color: rgba(151, 151, 151, 0.808);
    /* margin-bottom: 0px; */
}

.read-me{
    
    background-color: white;
    color: black;
    margin: 10px;
    border-radius: 10px;
    padding: 30px;
    /* background: none; */
}
.read-me h1,h2,h3,h4,h5,h6,p,ul,strong,a,code,li,ol{
    background: none;
}
.read-me h1,.read-me h2,.read-me h3{
    margin-top: 30px;
    margin-bottom: 30px;
}

.read-me h4{
    margin-top: 20px;
}
.read-me ol,li{
    list-style: decimal;
    color: black;
}
.read-me img{
    /* object-fit: cover; */
    max-width: 100%;
    min-height: 100%;
    /* background: none; */
}
.read-me hr{
    color: #000000;
    border: #000000 solid 2px;
    font-weight: 900;
}

.footer hr{
    color: white;
    border: white solid 2px;
    
}
.footer{
    position: absolute;
    left:0px;
    right: 0px;
    margin-top: 40px;
}
.footer-content{

    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; 
}
@media only screen and ((width <= 380px)){
    .project-data{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: fit-content;
    }
    .project-data div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-width: fit-content;
    }
    .project-data div:nth-child(2){
        margin-bottom: 30px;
    }
    .container{
        max-height: 30vh;
    }
    .nav{
        display: none !important;
        /* border: red solid 2px; */
    }
    .menu{
        display: block;
    }
    .header-social-links{
        display: none !important;
    }
    .social-menu{
        margin-top: 10PX;
        display: flex !important;
        /* display: flex; */
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      
    }
    .title-para{
        font-size: 80% !important;
    }
    .title-head{
        font-size: 400% !important;
        /* color: red !important; */
    }
 
}


@media only screen and ((width <= 500px)){
    .project-data{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: fit-content;
    }
    .project-data div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-width: fit-content;
    }
    .project-data div:nth-child(2){
        margin-bottom: 30px;
    }
    .container{
        max-height: 50vh;
    }
    .nav{
        display: none !important;
        /* border: red solid 2px; */
    }
    .menu{
        display: block;
    }
    .header-social-links{
        display: none !important;
    }
    .social-menu{
        margin-top: 10PX;
        display: flex !important;
        /* display: flex; */
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      
    }
    .title-para{
        font-size: 90%;
    }
    .title-head{
        font-size: 500%;
    }
 
}

@media only screen and ((width <= 900px) and (width > 500px)){
    .project-desc  h1{
        font-size: 35px;
        margin-bottom: 50px;
    }
    .project-desc  h2{
        font-size: 40px;
        margin-bottom: 50px;
    }
    .container{
        max-height: 60vh;
    }
    .nav{
        display: none !important;
        /* border: red solid 2px; */
    }
    /* .header-social-links{
        display: none !important;
    } */
    .menu{
        display: block;
    }
    .title-para{
        font-size: 100%;
    }
    .title-head{
        font-size: 500%;
    }

}
